<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Describing Sales Data with `numpy`

_Author: Naumaan Nayyar_

---

Run the cell below to load the required packages and set up plotting in the notebook!

In [9]:
import numpy as np
import scipy.stats as stats
import csv
import seaborn as sns
import pandas as pd

%matplotlib inline

## Loading CSV files with python

---

For this lab you will be using a truncated version of some sales data.

The csv has about 200 rows of data and four columns. The relative path to `sales_info.csv` is provided below.


Let's take a look at the `csv` module we imported. The csv moduleâ€™s reader and writer objects read and write sequences. The following python code demonstrates a process for loading data from a CSV file and (in this case) appending each row to a list.


```python
import csv
print 'Opening File. Data: '
csv_rows = []
with open('./datasets/sales_info.csv', 'rU') as f:
    reader = csv.reader(f)
    for row in reader:
        csv_rows.append(row)
f.close()
print 'file closed'   # Always remember to close the file after writing to it!
```

The first argument to `csv.reader` is the string path to the file. The second argument specifies the "mode" for the open file object:
- `'r'` - Read (Default)
- `'w'` - Write
- `'a'` - Append;  Adds additional modifications to the end.  Unable to edit current contents.
- `'b'` - Binary (used when working with a binary file, i.e. 'rb', for reading a binary file)
- `'U'` - Opens text in Universal Newline mode.  As '\r', '\n', and '\r\n' all indicate a newline depending on which language the file was written in, Universal Newline Mode will read '\r', '\n', and '\r\n' as Python's '\n'.

In [4]:
sales_csv_path = './datasets/sales_info.csv'

In [27]:
df = pd.read_csv(sales_csv_path)##any way replace skiprow = 1

In [28]:
df.head()

   volume_sold  2015_margin  2015_q1_sales  2016_q1_sales
0    18.420760    93.802281      337166.53      337804.05
1     4.776510    21.082425       22351.86       21736.63
2    16.602401    93.612494      277764.46      306942.27
3     4.296111    16.824704       16805.11        9307.75
4     8.156023    35.011457       54411.42       58939.90

### 1. Loading the data

Set up an empty list called ```rows```.

Using the pattern for loading csvs we learned earlier, add all of the rows in the csv file to the rows list.

For your reference, the pattern is:
```python
with open(my_csv_path, 'r') as f:
    reader = csv.reader(f)
    ...
```

Beyond this, adding the rows in the csv file to the ```rows``` variable is up to you.

In [21]:
# A:
col = ["volume",'margin', 'sales1', 'sale2']
df = pd.read_csv(sales_csv_path, names = col, skiprows=1)##any way replace skiprow = 1

### 2. Separate header and data

The header of the csv is contained in the first index of the ```rows``` variable, as it is the first row in the csv file. 

Use python indexing to create two new variables: ```header``` which contains the 4 column names, and ```data``` which contains the list of lists, each sub-list representing a row from the csv.

Lastly, print ```header``` to see the names of the columns.

In [22]:
df.head()

      volume     margin     sales1      sale2
0  18.420760  93.802281  337166.53  337804.05
1   4.776510  21.082425   22351.86   21736.63
2  16.602401  93.612494  277764.46  306942.27
3   4.296111  16.824704   16805.11    9307.75
4   8.156023  35.011457   54411.42   58939.90

In [4]:
# A:

### 3. Create a dictionary with the data

Use loops or list comprehensions to create a dictionary called ```sales_data```, where the keys of the dictionary are the column names, and the values of the dictionary are lists of the data points of the column corresponding to that column name.

In [30]:
# A:
df = pd.read_csv(sales_csv_path)

rename_map = {
    # Original column: [renamed column]
    'volume_sold':    'volume', 
    '2015_margin':  'margin', 
    '2015_q1_sales':  'sales1', 
    '2016_q1_sales':      'sales2', 
}

df.rename(columns=rename_map, inplace=True)
df.head(4)

      volume     margin     sales1     sales2
0  18.420760  93.802281  337166.53  337804.05
1   4.776510  21.082425   22351.86   21736.63
2  16.602401  93.612494  277764.46  306942.27
3   4.296111  16.824704   16805.11    9307.75

**3.A Print out the first 10 items of the 'volume_sold' column.**

In [19]:
# A:
df.volume.head(10)

0      volume_sold
1    18.4207604861
2    4.77650991918
3    16.6024006077
4    4.29611149826
5    8.15602328201
6    5.00512242518
7         14.60675
8    4.45646649485
9    5.04752965097
Name: volume, dtype: object

### 4. Convert data from string to float

As you can see, the data is still in string format (which is how it is read in from the csv). For each key:value pair in our ```sales_data``` dictionary, convert the values (column data) from string values to float values.

In [31]:
# A:
df['sales1'] = df['sales1'].map(lambda x: float(x))

In [32]:
df.describe()

           volume      margin        sales1        sales2
count  200.000000  200.000000  2.000000e+02  2.000000e+02
mean    10.018684   46.858895  1.546317e+05  1.546992e+05
std      9.195256   45.013249  2.183315e+05  2.176610e+05
min      2.794631   11.996118  4.151930e+03  3.536140e+03
25%      6.274402   26.862036  4.554442e+04  3.881877e+04
50%      8.166346   36.562144  1.041994e+05  1.032072e+05
75%     10.406605   48.176982  2.016707e+05  2.042313e+05
max     76.203692  367.225653  2.337324e+06  2.443253e+06

### 5. Write function to print summary statistics

Now write a function to print out summary statistics for the data.

Your function should:

- Accept two arguments: the column name and the data that column is associated with.
- Print out information, clearly labeling each item when you print it:
    1. Print out the column name
    2. Print the mean of the data using ```np.mean()```
    3. Print out the median of the data using ```np.median()```
    4. Print out the mode of the **rounded data** using ```stats.mode()```
    5. Print out the variance of the data using ```np.var()```
    6. Print out the standard deviation of the data using ```np.std()```
    
Remember that you will need to convert the numeric data from these function to strings by wrapping them in the ```str()``` function.

In [ ]:
def pd.Series(data):
    for list in data,
    data.list.mean() = str(sum(list)/len(list)),
    data.list.median() =  
    data.list.stats.mode().round(3) = ,
    data.list.var() = sqrt 
    std = sqrt.variance,
    print("-----")
    print(['names','mean', 'median', 'mode', 'variance','std'])

In [8]:
# A:

**5.A Using your function, print the summary statistics for `volume_sold`.**

In [9]:
# A:
df.fun(map,round()).n.mean()

**5.B Using your function, print the summary statistics for `2015_margin`.**

In [10]:
# A:

**5.C Using your function, print the summary statistics for `2015_q1_sales`.**

In [11]:
# A:

**5.D Using your function, print the summary statistics for `2016_q1_sales`.**

In [12]:
# A:

### 6. [Bonus] Plot the distributions

We've provided a plotting function below called ```distribution_plotter()```. It takes two arguments, the name of the column and the data that column is associated with.

In individual cells, plot the distributions for each of the four columns. Does the data appear skewed? Symmetrical? If skewed, what would be your hypothesis for why?

In [13]:
def distribution_plotter(column, data_set):
    data = data_set[column]
    sns.set(rc={"figure.figsize": (10, 7)})
    sns.set(color_codes=True)
    sns.set(style="white", palette="muted")
    dist = sns.distplot(data, hist_kws={'alpha':0.2}, kde_kws={'linewidth':5})
    dist.set_title('Distribution of ' + column + '\n', fontsize=16)

In [14]:
# A:

---

### An aside on plotting and visual elements..

Check out this example:

```python
   1.  sns.set(rc={"figure.figsize": (10, 7)})
   2.  sns.set_style("white")
   3.  dist = sns.distplot(data, hist_kws={'alpha':0.2}, kde_kws={'linewidth':5})
   4.  dist.set_title("I'm a fairly cool plot!", fontsize=16)
```

**1.** With Seaborn (the `sns` object in context), the `sns.set()` method with `{"figure.figsize": (10, 7)}` parameter will control the size of the plot based on aspect ratio and scale.<br><br>
**2.** Seaborn comes with a variety of styles.  They can be set using `sns.set_style([The style])`.  There are five preset seaborn themes: `darkgrid`, `whitegrid`, `dark`, `white`, and ticks. They are each suited to different applications and personal preferences. The default theme is `darkgrid`. <br><br>
**3.** There are plenty of different types of plot types available.  For getting sense of the distribution of your data, `sns.distplot()` is a great choice.  The first paramter `data` is the only required parameter.  The other parameters in our example on line 3, control the visual aesthetics.  You can read more about [controling the visual aesthetics](https://stanford.edu/~mwaskom/software/seaborn/tutorial/aesthetics.html) of Seaborn.
<br><br>
**4.** Notice on line 3, we've assigned a reference to sns.distplot(), to a variable called `dist`.  In order to control certain visual elements, it's necessary to have a reference to the specific instance that initially references the plotting function. In this case, with the plot refernece to "distplot", it's possible to set the title using `.set_title`.

### 7. [Bonus]:  Explore the `seaborn` gallery

Explore the [Seaborn Gallery](https://stanford.edu/~mwaskom/software/seaborn/examples/index.html), and attempt to adapt 2-3 other plot methods using our `sales_data`.  This should give you a little context and familliarity with some of the most common plotting functions in Seaborn.  

Beyond this we will be diving into `matplotlib`, `pandas`, and other plotting packages.  The best way to get good at data visualization is practicing.  Each package has it's own pitfalls and conventions, but many are just wrappers around matplotlib at a low level so it's possible to use them together.  

Generally, `seaborn` and `pandas` will get you most of the way there, and then using `matplotlib` can help you "tweak" the finer aesthetics of the output.

**Note:** Seaborn does not like to work with lists typically, so you may need to convert your data to an array using ['`np.array()`'](https://docs.scipy.org/doc/numpy/reference/generated/numpy.array.html) in order for Seaborn to accept it