<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Review of Python Types, Lists, and Dictionaries

_Author: Naumaan Nayyar_

---

In [1]:
# Enter Student names here:
student_names = ['John','Sam', 'Tom', 'Jill', 'Wang', 'Frank', 'Aron','Bill','Reily', 'Joe']

---

### 1) What are the types of the following variables?

In [5]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'kiefer':'katovich', 'dave':'yerrington'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'

In [9]:
type(a)##: float,
##c:list
##d:set
##e:tuple,
##f:dictionary,
##g: boolean
##h: boolean
##i = string

int

In [ ]:
##A:
type(b)

In [10]:
##A:
type(c)

list

---

### 2) What is the difference between a "mutable" and an "immutable" object?

In [4]:
# A:

---

### 3) Print the `student_names` list.

In [2]:
##A:
print(student_names)

['John', 'Sam', 'Tom', 'Jill', 'Wang', 'Frank', 'Aron', 'Bill', 'Reily', 'Joe']

---

### 4) Print the names of the first and last students on the list.

In [15]:
##A:
print(student_names[0])

John

In [16]:
##A:
print(student_names[-1])

Joe

---

### 5) Print the first five names in the `student_names` list.

In [21]:
##A:
print(student_names[0:5])

['John', 'Sam', 'Tom', 'Jill', 'Wang']

---

### 6) Combine the ninth and 10th student names into a single string, separated by a space. Assign that string to a variable.

In [22]:
x = student_names[8] +' '+ student_names[9]

In [19]:
print(x)

ReilyJoe

---

### 7) Append an animal to the list of animals.

In [24]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [26]:
animals.append('cat')

---

### 8) Print the length of the `animals` list.

In [27]:
# A:
len(animals)

8

---

### 9) Divide the length of the fifth animal by the second.

In [28]:
# A:
print
len(animals[4])/len(animals[1])

2.3333333333333335

---

### 10) Perform the same division, but ensure the output is a decimal number.

In [29]:
# A:
float(len(animals[4])/len(animals[1]))

2.3333333333333335

---

### 11) Demonstrate two different ways to combine the `animals` list and the `numbers` list.

In [32]:
numbers = [0., 0.1, 1., 10., 100., 1000.]

In [33]:
# A:
animals + numbers

['duck',
 'rat',
 'boar',
 'slug',
 'mammoth',
 'gazelle',
 'cat',
 'cat',
 0.0,
 0.1,
 1.0,
 10.0,
 100.0,
 1000.0]

In [34]:
animals.extend(numbers)

---

### 12) Remove `'kiefer'` from the list and insert your own name in its place.

In [41]:
names = ['doug', 'billy', 'kiefer', 'kian', 'sam']

In [38]:
names[2] = 'Yu Zhang'

In [42]:
names[names.index('kiefer')] = 'Yu Zhang'

---

### 13) Sort the following list.

In [44]:
mix = [['billy', 'sam'], {'key':'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

In [45]:
# A:
mix.sort()

TypeError: '<' not supported between instances of 'dict' and 'list'

---

### 14) Manually check whether or not one element of `mix` is greater than another.

In [46]:
# A:
'flower' <12

TypeError: '<' not supported between instances of 'str' and 'int'

---

### 15) Find the index of `'a'` in the list.

In [48]:
# A:
mix.index('a')

5

---

### 16) Reverse the `mix` list.

In [49]:
# A:
mix[::1]

[['billy', 'sam'], {'key': 'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

---

### 17) Remove the last element of `mix`  and assign it to a variable.

In [23]:
# A:

---

### 18) Count the number of times `0` appears in the following list.

In [54]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

In [56]:
# A:
binary.count(0)

16

In [59]:
##A
len(library) - sum(binary)

20

---

### 19) Create an SF (San Francisco) zip code dictionary.

With the following key-value pairs:

    'sunset':94122
    'presidio':94129
    'soma':94105
    'marina':94123

In [62]:
# A:
zipcode = {
'sunset':94122,
'presidio':94129,
'soma':94105,
'marina':94123, 
}

---

### 20) Get the zip code for `'soma'` and assign it to a variable.

In [63]:
# A:
x = zipcode['soma']

---

### 21) Get the keys out of the dictionary.

In [65]:
# A:
list(zipcode.keys())

['sunset', 'presidio', 'soma', 'marina']

---

### 22) Get the key-value pairs out of the dictionary as a list of tuples.

In [66]:
# A:
list(zipcode.item())

AttributeError: 'dict' object has no attribute 'item'

---

### 23) Add The Castro to the dictionary with the zip code 94114.

In [30]:
# A:
zipcode['Castro'] = '94114'

---

### 24) Combine the following smaller dictionary of districts with the SF zip code dictionary.

In [67]:
small = {'outer_richmond':94121, 'dogpatch':94107}

In [32]:
# A:
x = zipcde.pop('sunset')

---

### 25) Remove the `'sunset'` zip code and assign it to a variable.

In [33]:
# A:

---

### 26) Check if the `'dogpatch'` is in the dictionary.

In [34]:
# A: