# Logistic regression exercise with Titanic data

## Introduction

- Data from Kaggle's Titanic competition: [data](https://github.com/justmarkham/DAT8/blob/master/data/titanic.csv), [data dictionary](https://www.kaggle.com/c/titanic/data)
- **Goal**: Predict survival based on passenger characteristics
- `titanic.csv` is already in our repo, so there is no need to download the data from the Kaggle website

## Step 1: Read the data into Pandas

In [1]:
import pandas as pd
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/titanic.csv'
titanic = pd.read_csv(url, index_col='PassengerId')
titanic.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Step 2: Create X and y

Define **Pclass** and **Parch** as the features, and **Survived** as the response.

In [ ]:
feature_cols = ['Pclass', 'Parch']

## Step 3: Split the data into training and testing sets

## Step 4: Fit a logistic regression model and examine the coefficients

Confirm that the coefficients make intuitive sense.

## Step 5: Make predictions on the testing set and calculate the accuracy

In [ ]:
# class predictions (not predicted probabilities)

In [ ]:
# calculate classification accuracy

## Step 6: Compare your testing accuracy to the null accuracy

In [ ]:
# this works regardless of the number of classes

In [ ]:
# this only works for binary classification problems coded as 0/1

# Confusion matrix of Titanic predictions

In [ ]:
# print confusion matrix
print(metrics.confusion_matrix(y_test, y_pred_class))

In [ ]:
# save confusion matrix and slice into four pieces
confusion = metrics.confusion_matrix(y_test, y_pred_class)
TP = confusion[1][1]
TN = confusion[0][0]
FP = confusion[0][1]
FN = confusion[1][0]

In [ ]:
print('True Positives:', TP)
print('True Negatives:', TN)
print('False Positives:', FP)
print('False Negatives:', FN)

In [ ]:
# calculate the sensitivity
print(TP / float(TP + FN))
print(44 / float(44 + 51))

In [ ]:
# calculate the specificity
print(TN / float(TN + FP))
print(105 / float(105 + 23))

In [ ]:
# store the predicted probabilities
y_pred_prob = logreg.predict_proba(X_test)[:, 1]

In [ ]:
# histogram of predicted probabilities
%matplotlib inline
import matplotlib.pyplot as plt
plt.hist(y_pred_prob)
plt.xlim(0, 1)
plt.xlabel('Predicted probability of survival')
plt.ylabel('Frequency')

In [ ]:
# increase sensitivity by lowering the threshold for predicting survival
import numpy as np
y_pred_class = np.where(y_pred_prob > 0.3, 1, 0)

In [ ]:
# old confusion matrix
print(confusion)

In [ ]:
# new confusion matrix
print(metrics.confusion_matrix(y_test, y_pred_class))

In [ ]:
# new sensitivity (higher than before)
print(63 / float(63 + 32))

In [ ]:
# new specificity (lower than before)
print(72 / float(72 + 56))