<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 2: Analyzing Chipotle Data

_Author: Naumaan Nayyar_

---

For Project 2, you will complete a series of exercises exploring [order data from Chipotle](https://github.com/TheUpshot/chipotle), compliments of _The New York Times'_ "The Upshot."

For these exercises, you will conduct basic exploratory data analysis (Pandas not required) to understand the essentials of Chipotle's order data: how many orders are being made, the average price per order, how many different ingredients are used, etc. These allow you to practice business analysis skills while also becoming comfortable with Python.

---

## Basic Level

### Part 1: Read in the file with `csv.reader()` and store it in an object called `file_nested_list`.

Hint: This is a TSV (tab-separated value) file, and `csv.reader()` needs to be told [how to handle it](https://docs.python.org/2/library/csv.html).

In [22]:
import csv
from collections import namedtuple   # Convenient to store the data rows

DATA_FILE = './data/chipotle.tsv'

In [23]:
import pandas as pd
import numpy as np

In [24]:
##use row in rows in csv to format data

import csv
with open(DATA_FILE) as df:
    file_nested_list = [row for row in csv.reader(df, delimiter="\t")]

In [25]:
header = file_nested_list[0]
data = file_nested_list[1:]
header

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

In [26]:
# data

#### Naumaan: Good job!

2 points

### Part 2: Separate `file_nested_list` into the `header` and the `data`.

#### Naumaan: Good job!

2 points

---

## Intermediate Level

### Part 3: Calculate the average price of an order.

Hint: Examine the data to see if the `quantity` column is relevant to this calculation.

Hint: Think carefully about the simplest way to do this!

In [29]:
### Calculating the sum of the price of all orders
print (header)
print (data[4])
print (data[5])

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']
['2', '2', 'Chicken Bowl', '[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]', '$16.98 ']
['3', '1', 'Chicken Bowl', '[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sour Cream, Guacamole, Lettuce]]', '$10.98 ']

In [30]:
##referring to the soluation on structure out the data
prices = [row[4] for row in data] 
prices[0:5]

['$2.39 ', '$3.39 ', '$3.39 ', '$2.39 ', '$16.98 ']

In [31]:
type(prices[0])

str

In [32]:
##change the type from string to float.
##remove the dollar sign by slicing
prices = [row[4][1:] for row in data]
# prices

In [33]:
##calculate our total order sum 
total_order_sum = sum([float(row[4][1:]) for row in data]) 
total_order_sum

34500.16000000046

In [34]:
##check out the first and last items
print(data[0])
print(data[-1])

['1', '1', 'Chips and Fresh Tomato Salsa', 'NULL', '$2.39 ']
['1834', '1', 'Chicken Salad Bowl', '[Fresh Tomato Salsa, [Fajita Vegetables, Pinto Beans, Lettuce]]', '$8.75 ']

In [35]:
##only need unique ID, build up row_ids and then unique_ids
row_ids = [row[0] for row in data]
num_orders = len(set(row_ids))
num_orders

1834

In [36]:
##calculate average price
average_order_price = total_order_sum / num_orders
round(average_order_price,2)

18.81

#### Naumaan: Good job! Alternative ways to remove the symbols would be to use strip() or replace()

2 points

### Part 4: Create a list (or set) named `unique_sodas` containing all of unique sodas and soft drinks that Chipotle sells.

Note: Just look for `'Canned Soda'` and `'Canned Soft Drink'`, and ignore other drinks like `'Izze'`.

In [37]:
##check out distinct items
distinct_item = set(row[2] for row in data)
distinct_item

{'6 Pack Soft Drink',
 'Barbacoa Bowl',
 'Barbacoa Burrito',
 'Barbacoa Crispy Tacos',
 'Barbacoa Salad Bowl',
 'Barbacoa Soft Tacos',
 'Bottled Water',
 'Bowl',
 'Burrito',
 'Canned Soda',
 'Canned Soft Drink',
 'Carnitas Bowl',
 'Carnitas Burrito',
 'Carnitas Crispy Tacos',
 'Carnitas Salad',
 'Carnitas Salad Bowl',
 'Carnitas Soft Tacos',
 'Chicken Bowl',
 'Chicken Burrito',
 'Chicken Crispy Tacos',
 'Chicken Salad',
 'Chicken Salad Bowl',
 'Chicken Soft Tacos',
 'Chips',
 'Chips and Fresh Tomato Salsa',
 'Chips and Guacamole',
 'Chips and Mild Fresh Tomato Salsa',
 'Chips and Roasted Chili Corn Salsa',
 'Chips and Roasted Chili-Corn Salsa',
 'Chips and Tomatillo Green Chili Salsa',
 'Chips and Tomatillo Red Chili Salsa',
 'Chips and Tomatillo-Green Chili Salsa',
 'Chips and Tomatillo-Red Chili Salsa',
 'Crispy Tacos',
 'Izze',
 'Nantucket Nectar',
 'Salad',
 'Side of Chips',
 'Steak Bowl',
 'Steak Burrito',
 'Steak Crispy Tacos',
 'Steak Salad',
 'Steak Salad Bowl',
 'Steak Soft Tacos',
 'Veggie Bowl',
 'Veggie Burrito',
 'Veggie Crispy Tacos',
 'Veggie Salad',
 'Veggie Salad Bowl',
 'Veggie Soft Tacos'}

In [38]:
##creat list only contain soda and soda but not Izze
soder_orders = []
for row in data:
    if "Canned" in row[2]:
        soder_orders.append(row)
soder_orders[0:10]

[['9', '2', 'Canned Soda', '[Sprite]', '$2.18 '],
 ['14', '1', 'Canned Soda', '[Dr. Pepper]', '$1.09 '],
 ['23', '2', 'Canned Soda', '[Mountain Dew]', '$2.18 '],
 ['24', '1', 'Canned Soda', '[Sprite]', '$1.09 '],
 ['47', '1', 'Canned Soda', '[Dr. Pepper]', '$1.09 '],
 ['51', '1', 'Canned Soda', '[Diet Dr. Pepper]', '$1.09 '],
 ['55', '1', 'Canned Soda', '[Coca Cola]', '$1.09 '],
 ['73', '2', 'Canned Soda', '[Diet Coke]', '$2.18 '],
 ['76', '2', 'Canned Soda', '[Diet Dr. Pepper]', '$2.18 '],
 ['81', '1', 'Canned Soda', '[Coca Cola]', '$1.09 ']]

In [39]:
##get rid of duplication on row3
unique_sodas = set([row[3][1:-1] for row in data if 'Canned' in row[2]]) 
unique_sodas

{'Coca Cola',
 'Coke',
 'Diet Coke',
 'Diet Dr. Pepper',
 'Dr. Pepper',
 'Lemonade',
 'Mountain Dew',
 'Nestea',
 'Sprite'}

#### Naumaan: Well done!

2 points

---

## Advanced Level

### Part 5: Calculate the average number of toppings per burrito.

Note: Let's ignore the `quantity` column to simplify this task.

Hint: Think carefully about the easiest way to count the number of toppings!

In [41]:
##loop the lines of burrito
burrito_count = 0
for row in data:
    if 'Burrito' in row[2]:
        burrito_count = burrito_count + 1
burrito_count

1172

In [42]:
##calculate the toppings
burrito_count = 0
topping_count = 0

for row in data:
    if 'Burrito' in row[2]:
        burrito_count += 1
        topping_count += (row[3].count(',') + 1)
print (topping_count)

6323

In [43]:
##calculate average topping per burrito
round(topping_count / float(burrito_count), 2)

5.4

#### Naumaan: Good job!

2 points

### Part 6: Create a dictionary. Let the keys represent chip orders and the values represent the total number of orders.

Expected output: `{'Chips and Roasted Chili-Corn Salsa': 18, ... }`

Note: Please take the `quantity` column into account!

Optional: Learn how to use `.defaultdict()` to simplify your code.

In [45]:
##list of chips
names = ['Ben', 'Victor', 'Laura', 'Victor']

In [46]:
name_count = {}
for name in names:
    if name not in name_count:
        name_count[name] = 1   
    else:
        name_count[name] += 1   

name_count

{'Ben': 1, 'Victor': 2, 'Laura': 1}

In [47]:
##find all chips order
chip_orders = [row for row in data if 'Chips' in row[2]]

In [48]:
chips = {}
for row in data:
    if 'Chips' in row[2]:
        if row[2] not in chips:
            chips[row[2]] = int(row[1])    
        else:
            chips[row[2]] += int(row[1])   

chips

{'Chips and Fresh Tomato Salsa': 130,
 'Chips and Tomatillo-Green Chili Salsa': 33,
 'Side of Chips': 110,
 'Chips and Guacamole': 506,
 'Chips and Tomatillo Green Chili Salsa': 45,
 'Chips': 230,
 'Chips and Tomatillo Red Chili Salsa': 50,
 'Chips and Roasted Chili-Corn Salsa': 18,
 'Chips and Roasted Chili Corn Salsa': 23,
 'Chips and Tomatillo-Red Chili Salsa': 25,
 'Chips and Mild Fresh Tomato Salsa': 1}

In [49]:
# [defaultdict](https://docs.python.org/2/library/collections.html)
from collections import defaultdict
name_count = defaultdict(int)

# We no longer have to check if the key is present
for name in names:
    name_count[name] += 1

name_count

defaultdict(int, {'Ben': 1, 'Victor': 2, 'Laura': 1})

In [50]:
dchips = defaultdict(int)

for row in data:
    if 'Chips' in row[2]:
        dchips[row[2]] += int(row[1])

dict(dchips)

{'Chips and Fresh Tomato Salsa': 130,
 'Chips and Tomatillo-Green Chili Salsa': 33,
 'Side of Chips': 110,
 'Chips and Guacamole': 506,
 'Chips and Tomatillo Green Chili Salsa': 45,
 'Chips': 230,
 'Chips and Tomatillo Red Chili Salsa': 50,
 'Chips and Roasted Chili-Corn Salsa': 18,
 'Chips and Roasted Chili Corn Salsa': 23,
 'Chips and Tomatillo-Red Chili Salsa': 25,
 'Chips and Mild Fresh Tomato Salsa': 1}

#### Naumaan: Excellent with the defaultdict() function.

3 points

---

## Bonus: Craft a problem statement about this data that interests you, and then answer it!

## Total: 13 points